:root {

    --white: #FFFFFF;
    --black: #000000;

    --gray-950: #2F2F2F;
    --gray-400: #ADB5BE;
    --gray-200: #DFDEE0;

    --purple-950: #21092F;
    --purple-500: rgb(213, 58, 255);

    --orange-400: rgb(255, 131, 74);

    --blue-400: rgb(71, 162, 255);

    --red-400: #FF5050;

    --gradient-primary: linear-gradient(to right, #FFFFFF, #D2D3D9);

    --gradient-secondary: linear-gradient(to right, #6348FE, #610595);

    --font-space-grotesk: "Space Grotesk", sans-serif;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--font-space-grotesk);
    background-color: var(--white);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Gradiente Mask Background */
.bg-gradient-mask {
    width: 100%;
    height: 24rem;
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    /* Fondo real */
    background: linear-gradient(135deg,
            #140a1f 0%,
            #2a1240 40%,
            #1a0b2a 70%,
            #0b0613 100%);
}

@media(min-width: 1440px){
    .bg-gradient-mask{
        width: 48rem;
        height: 100vh;
        background: linear-gradient(
            250deg,
            #140a1f 0%,
            #2a1240 40%,
            #1a0b2a 70%,
            #0b0613 100%
        );
    }
}

.bg-gradient-mask::before {
    content: "";
    position: absolute;
    inset: -25%;
    filter: blur(50px);
    opacity: 0.9;
    mix-blend-mode: screen;
    transform: rotate(-15deg);
    background:
        radial-gradient(ellipse at 53% 44%, rgba(213, 58, 255, 0.45), transparent 25%),
        radial-gradient(ellipse at 75% 38%, rgba(255, 131, 74, 0.35), transparent 35%),
        radial-gradient(ellipse at 35% 45%, rgba(71, 163, 255, 0.581), transparent 40%),
        radial-gradient(ellipse at 40% 55%, rgba(213, 58, 255, 0.35), transparent 44%);
}

@media(min-width: 1024px){
    .bg-gradient-mask::before {
        transform: rotate(-145deg);
        inset: -16%;
        background:
            radial-gradient(ellipse at 77% 65%, rgba(212, 58, 255, 0.596), transparent 25%),
            radial-gradient(ellipse at 73% 74%, rgba(255, 131, 74, 0.798), transparent 30%),
            radial-gradient(ellipse at 74% 46%, rgba(71, 162, 255, 0.45), transparent 41%),
            radial-gradient(ellipse at 49% 44%, rgba(213, 58, 255, 0.45), transparent 0%);
        /* radial-gradient(ellipse at 43% 41%, rgba(213, 58, 255, 0.45), transparent 40%),
        radial-gradient(ellipse at 81% 34%, rgba(255, 131, 74, 0.35), transparent 52%),
        radial-gradient(ellipse at 19% 49%, rgba(71, 162, 255, 0.45), transparent 40%),
        radial-gradient(ellipse at 49% 44%, rgba(213, 58, 255, 0.35), transparent 50%); */
    }
}

/* CARD FRONT */

.card__front{
    width: 28.5rem;
    height: 15.6rem;
    padding: 1.6rem;
    border-radius: 1rem;
    margin: 12.7rem 0 0 1.7rem;
    background: var(--gradient-secondary);
    position: relative;
    overflow: hidden;
}

@media(min-width: 768px){
    .card__front{
        width: 44.7rem;
        height: 24.5rem;
        margin: 15rem auto 0;
    }
}

@media(min-width: 1440px){
    .card__front{
        margin: 25rem 0 0 25rem;
    }
}

.card__bg{
    position: absolute;
    inset: 0;
}

.card__oval{
    position: absolute;
    width: 13.1rem;
    height: 36.3rem;
    border-radius: 50%;
    filter: blur(3rem);
}

.card__oval--blue{
    background: var(--blue-400);
    transform: rotate(45deg);
    opacity: 0.80;
    top: -1rem;
    left: 6rem;
    z-index: 3;
}

@media(min-width: 768px){
    .card__oval--blue{
        top: 1rem;
        left: 15rem;
    }
}

.card__oval--purple{
    background: var(--purple-500);
    transform: rotate(45deg);
    opacity: 0.80;
    top: -9rem;
    left: 9rem;
    z-index: 1;
}

@media(min-width: 768px){
    .card__oval--purple{
        top: -12rem;
        left: 18rem;
    }
}

.card__oval--orange{
    background: var(--orange-400);
    transform: rotate(45deg);
    opacity: 0.80;
    top: -21rem;
    left: 25rem;
    z-index: 2;
}

@media(min-width: 768px){
    .card__oval--orange{
        top: -14rem;
        left: 30rem;
    }
}

